@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.left-homepage {
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upperHalf{
    display: flex;
    gap: 2rem;
}

.profileAndWeather{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}