/* eslint-disable */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.news-card {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.5rem;
}

.img {
    width: 46.3rem;
    height: 55.5rem;
    z-index: 1;
    border-radius: 19px 19px 0px 0px;
}

.news-overview-caption {
    background: rgba(0, 0, 0, 0.74);
    padding: 1rem;
    position: absolute;
    top: 42rem;
    width: 44.3rem;
}

.caption-news {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 123.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    word-wrap: break-word;
    margin-right: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 26ch;
}

.dateTime {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 141.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.news-overview {
    word-wrap: break-word;
    width: 42.3rem;
    height: 19rem;
    background-color: #FFFFFF;
    border-radius: 0px 0px 19px 19px;
    padding: 2rem;
    padding-top: 0;
    box-sizing: content-box;
    padding-bottom: 0;
}

.news-content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 161.69%;
    text-align: justify;
    color: #272727;
}

.wrapper-browse{
    width: 32vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 94.7vh;
}

.browse {
    width: 17rem;
    height: 3.5rem;
    background: #148A08;
    border-radius: 3rem;
    border: #148A08;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 92.2%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}