.lower-browse {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding-left: 6rem;
    padding-right: 2rem;
}

.caption-browse {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 139.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.title-genre {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 139.69%;
    letter-spacing: 0.02em;
    color: #878787;
}

.movies-img{
    display: flex;
    gap: 1rem;
}

.img-one-by-one{
    width: 34.1rem;
    height: 25rem;
}