button {
    cursor: pointer;
}

img {
    z-index: -1;
    width: 50vw;
    height: 100vh;
}

.loginAndcontent {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    justify-content: space-between;

}

.login {
    display: flex;
    padding-top: 5rem;
    padding-left: 5.5rem;
    gap: 8rem;
    align-items: center;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 108.69%;
    letter-spacing: 0.02em;
}

.login-btn {
    width: 14.6rem;
    height: 4.2rem;
    background: #72DB73;
    border-radius: 3.3rem;
    color: white;
    border: #72DB73;
}

.caption {
    font-family: 'Roboto', sans-serif;
    padding-left: 5.5rem;
    padding-bottom: 5rem;
    font-style: normal;
    font-weight: bolder;
    font-size: 4.5rem;
    line-height: 141.69%;
    letter-spacing: 0.02em;
}
